.columns.is-multiline
  -@items.each do |i|
    .column.is-half-tablet
      .box
        .columns
          .column.is-narrow
            %p= i.name
          .column
            %p
              Replaced
              = time_ago_in_words i.last_replaced_at if i.last_replaced_at
              ago
          .column.is-narrow
            .field.has-addons
              %p.control
                %button.button.is-info.replace-item{ 'data-id': i.id } Replace
              %p.control
                = link_to edit_item_url(i.id), { class: 'button is-info is-outlined' } do
                  %span.icon.is-small
                    %i.fa.fa-ellipsis-v

  .column.is-half-tablet
    .box
      = link_to 'New', new_item_url, { class: 'button is-primary button-block', method: :get }
