!!!
%html
  =render partial: 'layouts/header'

  %body
    .container
      .navbar
        .navbar-brand
          %a.navbar-item{ href: '/' }
            Did-I

        .navbar-end
          -if user_signed_in?
            =link_to 'Sign Out', |
              destroy_user_session_path(current_user), |
              method: :delete, |
              class: 'navbar-item'

      %section.hero.is-fullheight
        .hero-body
          .container
            - flash.to_h.slice(:alert, :notice, :error, :success, :link, :danger).each do |key, value|
              - klass = key
              - klass = 'warning' if key == 'alert'
              - klass = 'info' if key == 'notice'
              .notification{ class: "is-#{klass}"}
                %button.delete
                = value

            = yield

  %footer
    .container
      .content.has-text-centered
