!!!
%html{lang: 'en'}
  =render partial: 'layouts/header'

  %body
    .container
      .navbar
        .navbar-brand
          %a.navbar-item{ href: '/' }
            Did-I

        .navbar-end
          -if user_signed_in?
            .navbar-item
              =link_to(edit_user_preference_path, class: 'button', title: "Preferences") do
                %i.fa.fa-gear

            .navbar-item
              =link_to 'Sign Out', |
                destroy_user_session_path(current_user), |
                method: :delete, |
                class: 'button'

      %section.hero.is-fullheight
        .hero-body
          .container
            - flash.to_h.slice(*%w[alert notice error success link danger]).each do |key, value|
              - klass = key
              - klass = 'warning' if key == 'alert'
              - klass = 'info' if key == 'notice'
              .notification.flash{ class: "is-#{klass}"}
                = value
                %i.delete

            = yield

  %footer
    .container
      .content.has-text-centered
